.DS_Store
node_modules
.worktrees
.sst
.env
.idea
.vscode
*~
playground
tmp
dist
ts-dist
.turbo
**/.serena
.serena/
/result
refs
Session.vim
opencode.json
a.out
target
.scripts

# Local dev files
opencode-dev
logs/

# Build artifacts
packages/opencode/opencode-*-arm64
packages/opencode/opencode-*-x64
